In [ ]:
print(" Hello this my first ML project")

 Hello this my first ML project

In [ ]:
print("Hello World")

Hello World

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving iris.csv to iris.csv

In [ ]:
import io
iris = pd.read_csv(io.BytesIO(uploaded['iris.csv']))

In [ ]:
iris

     sepal_length  sepal_width  petal_length   petal_width           class
0             5.1          3.5           1.4           0.2     iris_setosa
1             4.9          3.0           1.4           0.2     iris_setosa
2             4.7          3.2           1.3           0.2     iris_setosa
3             4.6          3.1           1.5           0.2     iris_setosa
4             5.0          3.6           1.4           0.2     iris_setosa
..            ...          ...           ...           ...             ...
145           6.7          3.0           5.2           2.3  iris_virginica
146           6.3          2.5           5.0           1.9  iris_virginica
147           6.5          3.0           5.2           2.0  iris_virginica
148           6.2          3.4           5.4           2.3  iris_virginica
149           5.9          3.0           5.1           1.8  iris_virginica

[150 rows x 5 columns]

In [ ]:
print(iris.shape)

(150, 5)

In [ ]:
iris.describe()

       sepal_length  sepal_width  petal_length   petal_width
count    150.000000   150.000000    150.000000    150.000000
mean       5.843333     3.054000      3.758667      1.198667
std        0.828066     0.433594      1.764420      0.763161
min        4.300000     2.000000      1.000000      0.100000
25%        5.100000     2.800000      1.600000      0.300000
50%        5.800000     3.000000      4.350000      1.300000
75%        6.400000     3.300000      5.100000      1.800000
max        7.900000     4.400000      6.900000      2.500000

In [ ]:
x=iris.drop(columns=['class'])
x

     sepal_length  sepal_width  petal_length   petal_width
0             5.1          3.5           1.4           0.2
1             4.9          3.0           1.4           0.2
2             4.7          3.2           1.3           0.2
3             4.6          3.1           1.5           0.2
4             5.0          3.6           1.4           0.2
..            ...          ...           ...           ...
145           6.7          3.0           5.2           2.3
146           6.3          2.5           5.0           1.9
147           6.5          3.0           5.2           2.0
148           6.2          3.4           5.4           2.3
149           5.9          3.0           5.1           1.8

[150 rows x 4 columns]

In [ ]:
print(x.shape)

(150, 4)

In [ ]:
y=iris['class']
y

0         iris_setosa
1         iris_setosa
2         iris_setosa
3         iris_setosa
4         iris_setosa
            ...
145    iris_virginica
146    iris_virginica
147    iris_virginica
148    iris_virginica
149    iris_virginica
Name: class, Length: 150, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.4)

In [ ]:
x_train

     sepal_length  sepal_width  petal_length   petal_width
10            5.4          3.7           1.5           0.2
101           5.8          2.7           5.1           1.9
132           6.4          2.8           5.6           2.2
113           5.7          2.5           5.0           2.0
106           4.9          2.5           4.5           1.7
..            ...          ...           ...           ...
110           6.5          3.2           5.1           2.0
62            6.0          2.2           4.0           1.0
85            6.0          3.4           4.5           1.6
0             5.1          3.5           1.4           0.2
29            4.7          3.2           1.6           0.2

[120 rows x 4 columns]

In [ ]:
y_train

10         iris_setosa
101     iris_virginica
132     iris_virginica
113     iris_virginica
106     iris_virginica
            ...
110     iris_virginica
62     iris_versicolor
85     iris_versicolor
0          iris_setosa
29         iris_setosa
Name: class, Length: 120, dtype: object

In [ ]:
x_test

     sepal_length  sepal_width  petal_length   petal_width
120           6.9          3.2           5.7           2.3
14            5.8          4.0           1.2           0.2
25            5.0          3.0           1.6           0.2
121           5.6          2.8           4.9           2.0
32            5.2          4.1           1.5           0.1
91            6.1          3.0           4.6           1.4
69            5.6          2.5           3.9           1.1
41            4.5          2.3           1.3           0.3
48            5.3          3.7           1.5           0.2
78            6.0          2.9           4.5           1.5
142           5.8          2.7           5.1           1.9
61            5.9          3.0           4.2           1.5
128           6.4          2.8           5.6           2.1
109           7.2          3.6           6.1           2.5
43            5.0          3.5           1.6           0.6
56            6.3          3.3           4.7           1.6
74            6.4          2.9           4.3           1.3
141           6.9          3.1           5.1           2.3
52            6.9          3.1           4.9           1.5
107           7.3          2.9           6.3           1.8
124           6.7          3.3           5.7           2.1
54            6.5          2.8           4.6           1.5
6             4.6          3.4           1.4           0.3
38            4.4          3.0           1.3           0.2
47            4.6          3.2           1.4           0.2
17            5.1          3.5           1.4           0.3
122           7.7          2.8           6.7           2.0
26            5.0          3.4           1.6           0.4
93            5.0          2.3           3.3           1.0
137           6.4          3.1           5.5           1.8

In [ ]:
y_test

120     iris_virginica
14         iris_setosa
25         iris_setosa
121     iris_virginica
32         iris_setosa
91     iris_versicolor
69     iris_versicolor
41         iris_setosa
48         iris_setosa
78     iris_versicolor
142     iris_virginica
61     iris_versicolor
128     iris_virginica
109     iris_virginica
43         iris_setosa
56     iris_versicolor
74     iris_versicolor
141     iris_virginica
52     iris_versicolor
107     iris_virginica
124     iris_virginica
54     iris_versicolor
6          iris_setosa
38         iris_setosa
47         iris_setosa
17         iris_setosa
122     iris_virginica
26         iris_setosa
93     iris_versicolor
137     iris_virginica
Name: class, dtype: object

In [ ]:
from sklearn import neighbors
classifier1=neighbors.KNeighborsClassifier()

In [ ]:
classifier1.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
predictions=classifier1.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions))

0.9333333333333333

In [ ]:
from sklearn import tree
classifier2=tree.DecisionTreeClassifier()

In [ ]:
classifier2.fit(x_train,y_train)
predictions=classifier2.predict(x_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions))

0.95