<a href="https://colab.research.google.com/github/sraochintalapudi/irisflowerclassification/blob/main/MLProject1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("This is my first Machine Learning Project")

This is my first Machine Learning Project

In [2]:
import numpy as np
import pandas as pd

In [9]:
iris=pd.read_csv("/content/sample_data/iris.csv")

In [10]:
iris

     sepal_length  sepal_width  petal_length   petal_width           class
0             5.1          3.5           1.4           0.2     iris_setosa
1             4.9          3.0           1.4           0.2     iris_setosa
2             4.7          3.2           1.3           0.2     iris_setosa
3             4.6          3.1           1.5           0.2     iris_setosa
4             5.0          3.6           1.4           0.2     iris_setosa
..            ...          ...           ...           ...             ...
145           6.7          3.0           5.2           2.3  iris_virginica
146           6.3          2.5           5.0           1.9  iris_virginica
147           6.5          3.0           5.2           2.0  iris_virginica
148           6.2          3.4           5.4           2.3  iris_virginica
149           5.9          3.0           5.1           1.8  iris_virginica

[150 rows x 5 columns]

In [13]:
x=iris.drop(columns=['class'])
y=iris['class']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [14]:
from sklearn import neighbors
classifier=neighbors.KNeighborsClassifier()

In [15]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [16]:
predictions=classifier.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions)*100)

96.66666666666667